BROWSER_PORT=9222
SERVER_PORT=3000
MEGA_EMAIL=your-email@gmail.com
MEGA_PASS="your-password"
MEGA_FOLDER=whatsapp-backup
GROUP_NAMES=vysya,vasavi,arya,marriage,matrimony,matrmon,kalyana,kalyan,kalyanawaran,vivah,horoscope,horescop,penli,kalasiva,kodanda,manvi,peddababu,tnabms,vskasr,vvk,వాసవి,వైశ్య,కళ్యాణ,వివాహ,விவாகம்,வைசிய,ஆரிய,ವಿವಾಹ
PARALLEL_UPLOADS=3
MAX_RETRIES=3
DASHBOARD_PASS=